@import "core.less";

.record-button{
    .oval

}

//styling from http://stackoverflow.com/questions/26961221/how-to-make-an-oval-in-css

.oval {
    width: 160px;
    height: 80px;
    background: #CC9900;
    border-radius: 50%;
}
